@model WebApplication3.Models.Reportz

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reportz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StatuezId" class="control-label"></label>
                <select asp-for="StatuezId" class="form-control" asp-items="ViewBag.StatuezId"></select>
                <span asp-validation-for="StatuezId" class="text-danger"></span>
            </div>
        <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Topicz" class="control-label"></label>
                <input asp-for="Topicz" class="form-control" />
                <span asp-validation-for="Topicz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Textz" class="control-label"></label>
                <input asp-for="Textz" class="form-control" />
                <span asp-validation-for="Textz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

