/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: goldenrod;
}

h2 {
    border-bottom: 2px solid goldenrod;
    padding-bottom: 5px;
}
input,
textarea {
    text-align: center;
    color: goldenrod;
    border: 1px solid goldenrod;
}

    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
        box-shadow: none;
        border-color: none;
        outline: goldenrod auto 5px;
    }

.form-control {
    border-color: goldenrod;
    box-shadow: 1px goldenrod;
}

    .form-control:focus {
        border-color: goldenrod;
        box-shadow: 0 0 0 0.1rem goldenrod;
    }


.table {
    border: goldenrod solid 1px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(218, 165, 32, 0.644);
}


.submit:hover {
    background-color: rgb(235, 171, 11);
    color: #fff;
 }

.submit {
    background-color: goldenrod;
    color: #fff;
}

.rig {
    width: 50%;
    margin: 10% auto;
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .rig {
        width: 100%;
        margin: 10% auto;
    }
}



.form-b {
    margin-top: 10%;
    border: goldenrod solid 2px;
    border-radius: 5px;
    background-color: #fff;
}

.table thead th {
   text-align: center;
   vertical-align: middle;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
